body,
html {
  background: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
h1 {
  font-size: 42px;
}
.cell {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #aaa;
  display: inline-block;
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
